<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>Users list fetched from devops services</h2>
  <table >
    <thead>
        <tr>
            <th > Id</th>
            <th > Name</th>
            <th > Mobile</th>
          </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td > {{user.id}}</td>
        <td > {{user.name}}</td>
        <td > {{user.mobile}}</td>
      </tr>
    </tbody>
  </table>
 
</div>

